.dark-medium-contrast {
  --md-sys-color-primary: rgb(158 231 255);
  --md-sys-color-surface-tint: rgb(134 209 233);
  --md-sys-color-on-primary: rgb(0 42 52);
  --md-sys-color-primary-container: rgb(78 155 177);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(200 224 233);
  --md-sys-color-on-secondary: rgb(18 41 48);
  --md-sys-color-secondary-container: rgb(125 148 157);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(215 218 255);
  --md-sys-color-on-tertiary: rgb(31 35 66);
  --md-sys-color-tertiary-container: rgb(139 142 179);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 230);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 75);
  --md-sys-color-on-surface-variant: rgb(213 222 225);
  --md-sys-color-outline: rgb(171 179 183);
  --md-sys-color-outline-variant: rgb(137 146 149);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(37 43 45);
  --md-sys-color-inverse-primary: rgb(0 79 96);
  --md-sys-color-primary-fixed: rgb(178 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 26);
  --md-sys-color-primary-fixed-dim: rgb(134 209 233);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 73);
  --md-sys-color-secondary-fixed: rgb(206 231 240);
  --md-sys-color-on-secondary-fixed: rgb(0 20 26);
  --md-sys-color-secondary-fixed-dim: rgb(178 202 211);
  --md-sys-color-on-secondary-fixed-variant: rgb(35 57 65);
  --md-sys-color-tertiary-fixed: rgb(223 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(10 14 44);
  --md-sys-color-tertiary-fixed-dim: rgb(193 196 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(48 52 83);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(64 69 72);
  --md-sys-color-surface-container-lowest: rgb(4 8 10);
  --md-sys-color-surface-container-low: rgb(25 30 32);
  --md-sys-color-surface-container: rgb(35 41 43);
  --md-sys-color-surface-container-high: rgb(46 51 54);
  --md-sys-color-surface-container-highest: rgb(57 63 65);
  --md-extended-color-predict-color: rgb(168 235 191);
  --md-extended-color-predict-on-color: rgb(0 44 23);
  --md-extended-color-predict-color-container: rgb(94 158 118);
  --md-extended-color-predict-on-color-container: rgb(0 0 0);
  --md-extended-color-optimize-color: rgb(255 215 131);
  --md-extended-color-optimize-on-color: rgb(50 35 0);
  --md-extended-color-optimize-color-container: rgb(175 140 61);
  --md-extended-color-optimize-on-color-container: rgb(0 0 0);
}
